body{
background: rgba(147,206,222,1);


}
.formulario{
background: #92bbd6;
	padding-top: 40px;
	height: 250px;
	width: 400px;
	margin-top: 30px;

	border-radius: 32px 31px 31px 31px;
-moz-border-radius: 32px 31px 31px 31px;
-webkit-border-radius: 32px 31px 31px 31px;
border: 5px solid #697070;
}

.solicitud{

	background: #697070;
	height:300;
	width:470;

margin-left: 120px;
	padding-top: 10;
	padding-right: 30;
	padding-left: 30;
	padding-bottom: 30;

	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px inset #697070;


}

.fromResidente{

		background:  #edfbeb;
	height:600;
	width:470;

margin-top:-150px;
margin-left:300px;
	padding-top: 10;
	padding-right: 30;
	padding-left: 30;
	padding-bottom: 30;

	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px inset #697070;

}

.small-textareaDomicilio{
	margin-bottom: -14px;
	  height: 50
   width: 50px;
}
.small-textarea{

	margin-bottom: -5px;
	  height: 50
   width: 50px;

}
.area{
	height: 300px;
	width:300px;
}
.errores{

	margin-top: -540px;
}

.fromEmpresa{

		background:  #edfbeb;
	height:600px;
	width:750px;

margin-top:-150px;
margin-left:300px;
	padding-top: 10;
	padding-right: 30;
	padding-left: 30;
	padding-bottom: 30;

	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 2px inset #697070;

}
.celda{
height: auto;
width: 200px;
}
.inputTexto{
	width:100%;
	height: 38px;
	border-style:groove;

}
.etiquetas{
	width:17px;
	height:10%;

}
.actividad{
	width: 300px;
}
.encabezado{

	background: #A9A9F5;
}
